<div class="row">
  <div class="col-md-3">
    <%= render 'experience_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Listing
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @experience do |f| %>

              <div class="row">

                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Experience Type</label>
                    <%= f.select :exp_type, [["Eating out", "Eating out"], ["Recreational", "Recreational"], ["Bars", "Bars"]],
                                 id: "ex_type", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>

                <div class="col-md-4 select">
                  <div class="form-group">
                  </div>
                </div>

                <div class="col-md-4 select">
                  <div class="form-group">
                  </div>
                </div>

                <div class="col-md-4 select">
                  <div class="form-group">
                  </div>
                </div>

                <div class="col-md-4 select">
                  <div class="form-group">

                  </div>
                </div>

              </div>

              <div><%= f.submit "Save", class: "btn btn-normal" %></div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

